config-model/src/main/resources/schema/container.rnc

# Copyright 2017 Yahoo Holdings. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.
# Schema for common container options

include "processing.rnc"

Handler = element handler {
   ComponentDefinition &
   ServerBindings &
   element clientBinding {text}*
}

Binding = element binding {text}
ServerBindings = Binding*

Client = element client {
   ComponentDefinition &
   element binding {text}* &
   element serverBinding {text}*
}

Server = element server {
   ComponentDefinition
}

AccessControl = element access-control {
    attribute domain { xsd:NCName }? &  # TODO Vespa 8 Remove
    attribute read { string "true" | string "false" }? & # TODO Vespa 8 Remove
    attribute write { string "true" | string "false" }? & # TODO Vespa 8 Remove
    element vespa-domain { xsd:NCName }? & # TODO Remove after end of March 2020
    element exclude {
        Binding+
    }?
}

HttpFilterChain =
    HttpFilter* &
    ChainBaseContent &
    ServerBindings

HttpFilter = element filter {
   ComponentDefinition &
   FilterConfig?
}

FilterConfig = element filter-config {
   anyElement*
}

Renderer = element renderer {
   ComponentDefinition
}
