config-model/src/main/resources/schema/deployment.rnc

# Copyright 2017 Yahoo Holdings. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.
# RELAX NG Compact Syntax
# Vespa Deployment file

start = element deployment {
   attribute version { "1.0" } &
   Upgrade? &
   BlockUpgrade* &
   Test? &
   Staging? &
   Prod*
}

Upgrade = element upgrade {
    attribute policy { xsd:string }
}

BlockUpgrade = element block-upgrade {
    attribute days { xsd:string } &
    attribute hours { xsd:string } &
    attribute time-zone { xsd:string }?
}

Test = element test {
    text
}

Staging = element staging {
    text
}

Prod = element prod {
   attribute global-service-id { text }? &
   Region* &
   Delay* &
   Parallel*
}

Region = element region {
   attribute active { xsd:boolean },
   text
}

Delay = element delay {
   attribute hours { xsd:long }? &
   attribute minutes { xsd:long }? &
   attribute seconds { xsd:long }?
}

Parallel = element parallel {
    Region*
}
