config-model/src/main/resources/schema/deployment.rnc

# RELAX NG Compact Syntax
# Vespa Deployment file

start = element deployment {
   attribute version { "1.0" } &
   Test? &
   Staging? &
   Prod*
}

Test = element test {
    text
}

Staging = element staging {
    text
}

Prod = 
    element prod {
        attribute global-service-id { text }?,
        element region { 
            attribute active { xsd:boolean },
            text
        }+
   }
