vespalib/src/vespa/fastlib/text/alphasort/SortMaster1_0.dtd

<!--  (c) 2002 Fast Search & Transfer. All rights reserved.  -->
<!-- Copyright Yahoo. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root. -->
<!--  Version 1.0 -->

<!ELEMENT masterFile (sortValueWidth, importFiles)>
<!ELEMENT importFiles (importFile+)>
<!ELEMENT sortValueWidth (#PCDATA)>
<!ELEMENT importFile (#PCDATA)>



