fastlib/src/vespa/fastlib/text/alphasort/AlphaSort1_0.dtd

<!--  (c) 2002 Fast Search & Transfer. All rights reserved.  -->
<!-- Copyright Yahoo. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root. -->
<!--  Version 1.0 -->

<!ELEMENT sortOrder (sortValue*)>
<!ELEMENT sortValue (unicode*)>
<!ELEMENT unicode (hex|decimal|utf8)>
<!ELEMENT hex (#PCDATA)>
<!ELEMENT decimal (#PCDATA)>
<!ELEMENT utf8 (#PCDATA)>

