config-model/src/main/resources/schema/version/7.x/validation-overrides.rnc

# Copyright Yahoo. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.
# RELAX NG Compact Syntax
# Vespa validation overrides

start = element validation-overrides {
   Allow*
}

Allow = element allow {
    attribute until { xsd:string } &
    attribute comment { xsd:string }? &
    text
}
